@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "volkhov", serif ;
}
p {
    margin: 10px 0;
    color: #5e6282;
    font-weight: 500;
  }
  img{
      width: 100%;
  }
  section{
      padding: 40px 0;
  }

/* Global */

.container{
    max-width: 1160px;
    margin: auto;
}
.section-intro{
    text-align: center;
}
.section-intro p{
    font-size: 18px;
    font-weight: 700;

}
.section-intro h2{
    font-size: 50px;
    color: #14383e;
    margin-bottom: 24px;
}

.hero-bg{
    background-image: url('img/Decore.svg');
    background-repeat: no-repeat;
    background-position: top right ;
    background-size: 600px 600px;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    font-weight: 600;
    color: #212832;
    
}
.nav-logo {
    min-width: 100px;
  }
.nav-menu{
    list-style-type:none;
    display: flex;
    align-items: center;
}
.nav-menu .menu-item{
    cursor: pointer;
    margin: 0 6px;
    padding: 6px 15px;
}
.button-outline{
    border-radius: 6px;
    padding: 10px 20px;
    border: 1px solid #5e6282;
}

/* hero-section */

.hero-section{
    display: flex;
    align-items: center;
}

.intro-text{
    max-width: 50%;
}
.intro-text p {
    line-height: 2;
  }
.intro-text h1{
    color: #181e4b;
    letter-spacing: -4%;
    line-height: 1;
    font-size: 84px;
}
.intro-image img{
    width: 100%;
}
.highlight{
    position: relative;
}
.highlight::after{
    content: url('img/h2-underline.png');
    position: absolute;
    width: 90%;
    left: 0;
    top: 35px;
    z-index: -1;
}
.button-primary {
    border-radius: 10px;
    color: white;
    text-decoration: none;
    display: block;
    background-color: #f1a501;
    width: fit-content;
    padding: 19px 27px;
  }

/* Category */

.decoration-bg {
    background-image: url("img/bg-decor-1.png");
    background-position: 100% 30%;
    background-repeat: no-repeat;
  }
.category-section{
    text-align: center;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single-category{
    cursor: pointer;
    padding: 40px;
    margin: 16px 10px;
    border-radius: 36px;
    width: 250px;
    transition: all ease-in-out 0.5s;
    box-shadow: 0 30px 80px rgba(0,0,0,0.02);
}
.single-category:hover{
    box-shadow: 0 100px 80px rgba(0,0,0,0.1)
}

.single-category .title {
    font-weight: 600;
  }
  .single-category img {
    width: 100px;
    height: 100px;
  }

/* Destinations */

.destinations{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}
.single-destination{
    max-width: 300px;
    margin: 10px;
    border-radius: 24px;
    box-shadow: 0 100px 80px rgba(0,0,0,0.06) ;
    overflow: hidden;
}
.single-destination img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.single-destination p{
    padding: 0 16px 10px;
}

/* Brands */

.brands{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.brand img{
    width: 100%;
}

/* Subscribe */

.subscriber-section{
    background-image: url(img/bg-decor-1.png);
    background-position: 100% 40%;
    background-repeat:no-repeat ;
    text-align: center;
}

.subscriber-section .container{
    padding: 80px;
    border-radius: 20px;
    background: #dfd7f9 url('img/subscribe-decor-left.png') no-repeat bottom left;
}
.subscriber-section h2{
    font-family: 'poppins', sans-serif;
    width: 70%;
    margin: auto;
}

.subscriber-section input{
    padding: 15px 30px;
    border-radius: 6px;
    border: none;
    outline: none;
}
.input-group{
    margin-top: 10px;
    display: inline-block;
}

/* Footer */

.footer-content{
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
}
.footer{
    text-align: center;
}

/* Responsive */

@media  screen and (max-width:1440px){
    .container{
        width: 80%;
        margin: auto;
    }
    
    .intro-text{
        max-width: 100%;
    }
}

/* Tablet */

@media  screen and (max-width:1024px){
    .container{
        width: 90%;
        margin: auto;
    }
    .nav-menu{
        display: none;
    }
    .hero-section{
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .brands{
        flex-direction: column;
        justify-content: center;
    }
    .intro-text {
        max-width: 100%;
      }
      .destinations {
        justify-content: center;
        flex-wrap: wrap;
      }
      .single-destination {
        min-width: 400px;
      }
      .subscribe-section input {
        margin: 20px auto 0;
      }
}

/* Mobile */

@media  screen and (max-width:768px){
    .intro-text{
        width: 100%;
    }
    .nav-menu{
        display: none;
    }
    .container {
        width: 90%;
        margin: auto;
      }
      .hero-section {
        flex-direction: column-reverse;
        margin-bottom: 50px;
      }
    .intro-text h1{
        font-size: 54px;
    }
    .single-destination {
        min-width: 100%;
      }
    .subscriber-section .container{
        padding: 35px;
    }
    .subscriber-section h2{
        width: 100%;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    .footer-content .logo {
        max-width: 150px;
        margin: auto;
      }
}

@media screen and (max-width: 866px) {
    .navbar ul {
      display: none;
    }
  }